* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  background: #ff8300;
  min-width: 300px;
}

/*********************************************************************/
/*Logo, Brand Name, Search input, Shopping cart logo and sign in tab*/
/*******************************************************************/

.generalfeatures {
	padding: 0 40px;
}

div#header {
	padding-top: 10px;
}

#contact {
	font-size: 15px;
	margin-left: 10px;
	margin-bottom: 20px;
	color: #485460;
}

div.hearderparts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div#brand {
	width: 35%;
	min-width: 300px;
	display: flex;
}

#search {
	width: 35%;
	display: flex;
}

#cartsignin {
	width: 15%;
	min-width: 150px;
	display: flex;
	justify-content: space-between;
}

i.fas.fa-utensils {
	font-size: 50px;
	margin-right: 10px;
	padding-top: 5px;
	color: #fff;
}

h1#brandname {
	margin: 0 0 0 10px;
	font-size: 30px;
	text-align: center;
	padding-top: 13px;
	color: #00803e;
}

input[type=text], button#searchicon {
	height: 40px;
	font-size: 25px;
}

#search input[type=text] {
	width: 80%;
	min-width: 100px;
	padding-left: 10px;
}

#search button#searchicon {
	width: 20%;
	min-width: 50px;
}

i.fas.fa-shopping-cart, span#signin {
	text-align: center;
	padding-top: 3px;
	font-size: 25px;
	height: 40px;
}

i.fas.fa-shopping-cart{
	width: 40%;
	color: #fff;
	padding-top: 5px;
}

i.fas.fa-shopping-cart:hover {
	font-size: 23px;
}

span#signin {
	width: 60%;	
}

span#signin a {
	text-decoration: none;
	color: #00803e;
}

span#signin a:hover {
	color: #fff;
	font-size: 23px;
}



/*********************************************************************/
/***************************Navigation Bar***************************/
/*******************************************************************/

#navbar {
	justify-content: space-around;
	background: #00803e;
	height: 50px;
	width: 100vw;
}

.navbarcontent {
	color: #fff;
	text-decoration: none;
}

a.navbarcontent:hover {
	color: #ff8300; 
}

/*********************************************************************/
/************************Cover image Section*************************/
/*******************************************************************/
img#coverimage {
	height: 85vh;
	width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: -80px;
    right: 60px;
}

/*********************************************************************/
/************************Featured Product**************************/
/*******************************************************************/

h3#featureheading {
	background: #00803e;
	height: 50px;
	padding-top: 10px;
	color: #fff;
	width: 100vw;
}

article#featurescontainer {
	display: flex;
	justify-content: space-between;
}

div.featuredproduct {
	padding: 20px;
	background: #fff;
	width: 22%;
}

img.featureimage {
	width: 98%;
}

div.priceandcart {
	display: flex;
	justify-content: space-between;
	background: #ff8300;
	height: auto;
}

p.featuredescription {
	font-size: 16px;
	padding-top: 0;
	margin-top: 5px;
}

span.price {
	padding-top: 2px;
	margin-left: 8px;
	color: #00803e;
}

span.price, a.addtocart {
	margin-top: 15px;
	margin-bottom: 15px;
} 

a.addtocart, a#seemorefeatures {
	text-decoration: none;
	color: #fff;
}
a.addtocart {
	margin-right: 8px;
}

a.addtocart:hover {
	color: #00803e;
}

div#featuresbutton {
	text-align: center;
	margin-top: 12px;
}

a#seemorefeatures {
	border: 1px solid gray;
	border-radius: 6px;
	background: #00803e; 
	padding: 10px;
}

a#seemorefeatures:hover {
	color: #ff8300;
}


@media only screen and (max-width: 772px) {
	div.hearderparts {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	div#cartsignin {
		display: flex;
		margin-top: 15px;
		padding: 0 0 0 25px;
	}

	article#featurescontainer {
		flex-wrap: wrap;
	}

	div.featuredproduct {
		width: 180px;
		margin-bottom: 20px;
	}

	div.eachfeatures, p.featuredescription {
		font-size: 18px;
	}

	div.priceandcart {
		flex-direction: column;
		text-align: center;
		padding: 5px 0;
	}

	span.price, a.addtocart {
		margin: 0;

	} 
	
	div#featuresbutton, a#seemorefeatures {
		margin: 0;
	} 

} 

@media only screen and (max-width: 541px) {
	#search {
		margin-top: 15px;
	}

	#navbar {
		flex-direction: column;
		background: #00803e;
		height: 60px;
		width: 100vw;
	}

	div#brand {
		justify-content: space-around;
		margin: 0 auto;
	}

	img#coverimage {
		height: 55vh;
		width: 100%;
	}

	.bottom-left {
    	display: none;
	}

	article#featurescontainer {
		justify-content: space-around;
	}

	div.featuredproduct {
		padding: 10px;
		background: #fff;
		width: 45%;
	}
	
} 

@media only screen and (max-width: 390px) {
	.generalfeatures {
		padding: 0 10px;
	}

	img#coverimage {
		height: 45vh;
		min-width: 260px;
	}

	.bottom-left {
    	display: none;
	}

	div.eachfeatures, p.featuredescription {
		font-size: 14px;
	}

} 