* {box-sizing: border-box;}

html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    /*min-width: 320px;*/
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  background: #ff8300;
}



/*********************************************************************/
/*Logo, Brand Name, Search input, Shopping cart logo and sign in tab*/
/*******************************************************************/

.generalfeatures {
	padding: 0 40px;
}

div.header {
	padding-top: 10px;
}

.contact {
	font-size: 15px;
	margin-left: 10px;
	margin-bottom: 20px;
	color: #485460;
}

div.hearderparts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.brand {
	width: 35%;
	min-width: 300px;
	display: flex;
}

.search {
	width: 35%;
	display: flex;
}

.cartsignin {
	width: 15%;
	min-width: 150px;
	display: flex;
	justify-content: space-between;
}

i.fas.fa-utensils {
	font-size: 50px;
	margin-right: 10px;
	padding-top: 5px;
	color: #fff;
}

h1.brandname {
	margin: 0 0 0 10px;
	font-size: 30px;
	text-align: center;
	padding-top: 13px;
	color: #00803e;
}

input[type=text], button.searchicon {
	height: 40px;
	font-size: 25px;
}

.search input[type=text] {
	width: 80%;
	min-width: 100px;
	padding-left: 10px;
}

.search button.searchicon {
	width: 20%;
	min-width: 50px;
}

i.fas.fa-shopping-cart, span.signin {
	text-align: center;
	padding-top: 3px;
	font-size: 25px;
	height: 40px;
}

i.fas.fa-shopping-cart{
	width: 40%;
	color: #fff;
	padding-top: 5px;
}

i.fas.fa-shopping-cart:hover {
	font-size: 23px;
}

span.signin {
	width: 60%;
	font-size: 20px;
	margin-top: 6px;	
}

span.signin a, div.contact a {
	text-decoration: none;
	color: #00803e;
}

span.signin a:hover {
	color: #fff;
}

div.contact a:hover {
	color: #fff;
}

/*********************************************************************/
/***************************Navigation Bar***************************/
/*******************************************************************/

#navbar {
	justify-content: space-around;
	background: #00803e;
	height: 50px;
	width: 100vw;
}

.navbarcontent {
	color: #fff;
	text-decoration: none;
}

a.navbarcontent:hover {
	color: #ff8300; 
}

/*******User Dropdown********/

.navbarcontent {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.navbarcontent:hover .dropdown-content {
    display: block;
}

/*********************************************************************/
/************************Cover image Section*************************/
/*******************************************************************/
img#coverimage {
	height: 85vh;
	width: 100%;
}

/*********************************************************************/
/************************Featured Product**************************/
/*******************************************************************/

h3#featureheading {
	background: #00803e;
	height: 50px;
	padding-top: 10px;
	color: #fff;
	width: 100vw;
}

article#featurescontainer {
	display: flex;
	justify-content: space-between;
}

div.featuredproduct {
	padding: 10px;
	background: #fff;
	width: 22%;
}

img.featureimage {
	width: 100%;
}

div.priceandcart {
	display: flex;
	justify-content: space-between;
	background: #ff8300;
	height: auto;
}

p.featuredescription {
	font-size: 16px;
	padding-top: 0;
	margin-top: 5px;
}

span.price {
	padding-top: 2px;
	margin-left: 8px;
	color: #00803e;
}

span.price, a.addtocart {
	margin-top: 15px;
	margin-bottom: 15px;
} 

a.addtocart, a#seemorefeatures {
	text-decoration: none;
	color: #fff;
}
a.addtocart {
	margin-right: 8px;
}

a.addtocart:hover {
	color: #00803e;
}

div#featuresbutton {
	text-align: center;
	margin-top: 12px;
}

a#seemorefeatures {
	border: 1px solid gray;
	border-radius: 6px;
	background: #00803e; 
	padding: 10px;
}

a#seemorefeatures:hover {
	color: #ff8300;
}



/*********************************************************************/
/******************************SIGN-UP********************************/
/*******************************************************************/

div#signup {
	max-width: 35%;
	padding: 2%;
	border: 4px dashed #00803e;
	border-radius: 10px;
	margin: 0 auto;
}

div#signup h1 {
	margin: 0;
	font-size: 23px;
	text-align: center;
}

.signupinput, 
.all {					/***Sign-up form***/
	width: 100%;
}

.signupinput {
	padding: 5px;
	margin-bottom: 10px;
	height: 30px;
}

div#signup input[type=submit] {
	background-color: #00803e;
	border: none;
	color: #fff;
	font-size: 20px;
}

div#signup input[type=submit]:hover,
form.signinform input[type=submit]:hover {  /***Sign-up form***/
	color: #00803e;
	background-color: #fff;
}


/*********************************************************************/
/******************************SIGN-IN FORM**************************/
/*******************************************************************/
section.signinformcontainer.generalfeatures h4 {
	text-align: center;
}

form.signinform {
	display: flex;
	flex-direction: column;
	width: 35%;
	margin: 0 auto;
}

.signinformlabelone {
	margin-bottom: 5px;
}
.signinformlabeltwo {
	margin: 22px 0 5px 0;
}

form.signinform input[type=submit] {
	border: none;
	margin-top: 40px;
	height: 43px;
	background-color: #00803e;
	color: #fff;
	font-size: 20px

}


/*********************************************************************/
/****************************ABOUT-US PAGE***************************/
/*******************************************************************/


div#aboutcontainer {
	margin: 0 auto;
	width: 80%;
}

div#aboutcontainer p {
	text-align: justify;
}



/*********************************************************************/
/****************************ADMIN PAGE***************************/
/*******************************************************************/


/********ADMIN TITLE********/
.admintitle {
	background-color: #596275;
	width: 250px;
	padding: 10px;
}
.admintitle h3 {
	margin: 0;
	padding: 0;
	color: #ff5252;
}


/********ADMIN NAVIGATION********/
section.admindashboard{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow-x: auto;
}

.adminsidebar, .adminbody {
	min-width: 580px;
}

.adminsidebar {
	width: 100%;
	display: flex;
	justify-content: space-around;

}

.adminsidebar a {
	text-decoration: none;
	margin-bottom: 10px;
	border: 1px solid #00803e;
	border-radius: 5px;
	padding: 10px;
	color: #00803e;
}

.adminsidebar a:hover {
	background-color: #dff9fb;
	color: #6ab04c;
}

/********PRODUCTS-ADMIN********/
.adminbody {
	width: 100%;
}

#allproducts {
	border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

#allproducts td, #allproducts th {
    border: 1px solid #00803e;
    padding: 8px;
}

#allproducts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


/********ADD NEW PRODUCT-ADMIN********/
.adminbody h4 {
	text-align: center;
}

.adminbody input[type=date]{
	height: 43px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    margin-top: 15px;
}

/********ORDERS-ADMIN********/
#allorders {
	border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

#allorders td, #allorders th {
    border: 1px solid #00803e;
    padding: 8px;
}

#allorders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/*#drivers, #delivery {
	margin: 0 auto;
}*/


/********CHANGE-PASSWORD-ADMIN********/
.signinform input[type=password] {
	height: 42px;
}




/*********************************************************************/
/******************************Footer********************************/
/*******************************************************************/

div.socialmediaicons, div.copyrightinfo {
	width: 100vw;
}

div.socialmediaicons {
	height: 18vh;
	background: rgba(255,67,0, 0.5);
}

div.copyrightinfo {
	height: 50px;
	background: rgba(255,67, 0, 0.8);
}

div.socialmediaicons, div.copyrightinfo {
	display: flex;
	justify-content: space-around;
	align-items: center;

}

div.socialmediaicons {
	font-size: 40px;
	padding: 0 40%;
}

i.fab.fa-facebook,
i.fab.fa-twitter-square,
i.fab.fa-instagram,
i.fab.fa-google-plus-square {
	padding: 0 5px;
	color: #00803e;
}

div.copyrightinfo {
	font-size: 18px;
	color: #fff;
}





@media only screen and (max-width: 920px) {
	div.priceandcart {
		flex-direction: column;
		text-align: center;
		padding: 5px 0;
	}
}


@media only screen and (max-width: 772px) {
	div.hearderparts {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	div.cartsignin {
		display: flex;
		margin-top: 15px;
		padding: 0 0 0 25px;
	}

	article#featurescontainer {
		flex-wrap: wrap;
	}

	div.featuredproduct {
		width: 180px;
		margin-bottom: 20px;
	}

	div.eachfeatures, p.featuredescription {
		font-size: 18px;
	}

	span.price, a.addtocart {
		margin: 0;

	} 
	
	div#featuresbutton, a#seemorefeatures {
		margin: 0;
	} 

	div#signup {
		max-width: 70%;
	}

	form.signinform {
		width: 60%;
	}

	.admindashboard.generalfeatures {
		margin-right: 5%;
	}

} 

@media screen and (max-width: 776px) and (min-width: 547px) {
   div.featuredproduct {
		width: 46%;
	}
	
}

@media screen and (max-width: 772px) and (min-width: 541px) {
  div.cartsignin {
	margin: 0 auto;
  }
}

@media only screen and (max-width: 541px) {
	.search {
		margin-top: 15px;
	}

	#navbar {
		flex-direction: column;
		background: #00803e;
		height: 60px;
		width: 100vw;
	}

	div.brand {
		justify-content: space-around;
		margin: 0 auto;
	}

	img#coverimage {
		height: 55vh;
		width: 100%;
	}

	.bottom-left {
    	display: none;
	}

	article#featurescontainer {
		justify-content: space-around;
	}

	div.featuredproduct {
		padding: 10px;
		background: #fff;
		width: 45%;
	}

	form.signinform {
		width: 80%;
	}
	
} 

@media only screen and (max-width: 390px) {
	.generalfeatures {
		padding: 0 10px;
	}

	img#coverimage {
		height: 45vh;
		min-width: 25%;
	}

	.bottom-left {
    	display: none;
	}

	div.eachfeatures, p.featuredescription {
		font-size: 14px;
	}

	div.contact {
		display: flex;
		flex-direction: column;
	}

	span.separator {
		display: none;
	}

	div#signup, div#aboutcontainer {
		max-width: 90%;
	}

} 

@media only screen and (max-width: 320px) {
	i.fas.fa-utensils {
		display: none;
	}

	div.hearderparts {
		flex-direction: column;
	}

	body {
		font-size: 18px;
	}

	h1.brandname, div.hearderparts.generalfeatures {
		padding: 0;
		margin: 0;
		width: auto;
	}
	h1.brandname {
		font-size: 25px;
		margin-left: -32px;
	}
	.search {
		width: 200px;
	} 
	div.cartsignin {
		margin-left: -15px;
	}
	

	form.signinform, div#aboutcontainer{
		width: 95%;
	}

}
