<% include partials/header %>
<% include partials/admintitle %>
	

	<!-----------Admin Area---------->
	
	<section class="admindashboard generalfeatures">

		<% include partials/adminnavbar %>
		
		<div class="adminbody">
			<h4>ADD PRODUCT</h4>
			<form class="signinform" action="">
				<label class="" for="product">Name of Product</label>
				<input class="" type="text">
				<br/>
				<label class="" for="details">Details</label>
				<input class="" type="text">
				<br/>
				<label class="" for="price">Price</label>
				<input class="" type="text">
				<br/>
				<label class="" for="date">Date</label>
				<input class="" type="date">
				<br/>
				<label for="file-upload" class="custom-file-upload">
    Upload Picture
</label>
				<input id="file-upload" type="file"/>
				<input class="" type="submit" value="Add Product">

				<br>
				<br>
			</form>
		</div>
	</section>

	
	<br/>
	<br/>
	



	<br />
	<br />


<% include partials/footer %>