<% include partials/header %>
<% include partials/admintitle %>
	

	<!-----------Admin Area---------->
	
	<section class="admindashboard generalfeatures">

		<% include partials/adminnavbar %>
		
		<div class="adminbody">
			<h4>ADD PRODUCT</h4>

	<!------enctype='multipart/form-data'----->

			<%= typeof msg != "undefined" ? msg : '' %>

			<form class="signinform" action="/delicacies" method="POST">
				<label for="name">Name of Product*</label>
				<input type="text" name="name"/>
				<br/>
				<label for="price">Price*</label>
				<input type="text" name="price"/>
				<br/>
				<label for="date">Date*</label>
				<input type="date" name="date"/>
				<br/>
			<!-----------This ia temporary till I find a solution to the upload image---------->
				<label for="image">Image Url*</label>
				<input type="text" name="image"/>

		<!----	<label for="file-upload" class="custom-file-upload">Upload Picture</label>
				<input id="file-upload" name="productImage" type="file"/>  ---->


				<br/>
				<label for="alt">Image Description*</label>
				<input type="text" name="alt"/>

				<input type="submit" value="Add Product">

				<br>
				<br>
			</form>
		</div>
	</section>

	
	<br/>
	<br/>
	



	<br />
	<br />


<% include partials/footer %>