<% include partials/header %>
<% include partials/admintitle %>
	

	<!-----------Admin Area---------->
	
	<section class="admindashboard generalfeatures">

		<% include partials/adminnavbar %>
		
		<div class="adminbody">
			<br/>
			<form class="signinform" action="">
				<label class="changepasswordlabel" for="oldpassword">Old Password</label>
				<input class="" type="password">
				<br/>
				<label class="changepasswordlabel" for="newpassword">New Password</label>
				<input class="" type="password">
				<br/>
				<label class="changepasswordlabel" for="confirmpassword">Re-type New Password</label>
				<input class="" type="password">
	
				<input class="" type="submit" value="Change">
				<br>
				<br>
			</form>
		</div>
	</section>
	<br />
	<br />


<% include partials/footer %>