<% include partials/header %>
<% include partials/admintitle %>
	

	<!-----------Admin Area---------->
	<section class="admindashboard generalfeatures">

		<% include partials/adminnavbar %>

		<div class="adminbody">
			<table id="allproducts">
				<thead>
					<tr>
						<th></th>
						<th>Product</th>
						<th>Details</th>
						<th>Price</th>
						<th>Date</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox"></td>
						<td>Product name</td>
						<td>Piza</td>
						<td>$60</td>
						<td>31/08/2018</td>
						<td><i class="far fa-edit"></i></td>
						<td><i class="far fa-trash-alt"></i></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td><input type="checkbox"></td>
						<td>Product name</td>
						<td>Piza</td>
						<td>$60</td>
						<td>31/08/2018</td>
						<td><a href=""><i class="far fa-edit"></i></a></td>
						<td><a href=""><i class="far fa-trash-alt"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
	</section>

	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>


<% include partials/footer %>