	<footer class="footercontainer">
		<div class="socialmediaicons">
			<a class="eachsocialmediaicon" href="">
				<i class="fab fa-facebook"></i>
			</a>
			<a class="eachsocialmediaicon" href="">
				<i class="fab fa-twitter-square"></i>
			</a>
			<a class="eachsocialmediaicon" href="">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="eachsocialmediaicon" href="">
				<i class="fab fa-google-plus-square"></i>
			</a>
		</div>
		<div class="copyrightinfo">
			<span class="year">2018 <i class="far fa-copyright"></i> Fast Food Fast</span>
		</div>
	</footer>



	<script src="/javascript/script.js"></script>
</body>
</html>