<!DOCTYPE html>
<html>
<head>
	<title>Fast-Food-Fast</title>
	<meta charset="UTF-8">
	<meta name="description" content="Fast Food Shop">
	<meta name="keywords" content="HTML,CSS,JavaScript">
	<meta name="author" content="Adams Shittu">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-----------Header---------->
<header>
        <div>
            <i class="fas fa-bars"></i>
            <h1>Fast Food Fast</h1>
        </div>
        <nav>
            <ul>
                <hr class="navhr"/>
                <li class="left"><a href="/">Home</a></li>
                <hr class="navhr"/>
                <li class="left"><a href="/about">About Us</a></li>
                <hr class="navhr"/>
                <li class="left"><a href="/contact">Contact</a></li>
                <hr class="navhr"/>
                <li class="left"><a href="/delicacies">Delicacies</a></li>
                <hr class="navhr"/>
                <li class="right">
                    <a href="#">My Cart <span class="cartcount">1</span></a>
                </li>
                <hr class="navhr"/>
                <li class="right"><a href="/signup">Sign Up</a></li>
                <hr class="navhr"/>
                <li class="right"><a href="/login">Log In</a></li>
                <hr class="navhr"/>
            </ul>
        </nav>

        
	</header>
