<% include partials/header %>
	<br />
<section class="generalfeatures">
	<div id="aboutcontainer">
		<h4>About us</h4>	
		<p>Fast Food Fast is an online fast food delivery store with focus on very fast delivery of ordered fast food and at the same time not compromising quality. Fast Food Fast will serve the young, middle age and elderly people of Lagos metropolitan</p>
	</div>
</section>
	

	

	<br />
	<br />
	<br />

	<br />
	<br />

<% include partials/footer %>
