<% include partials/header %>


<!-----------Featured Products---------->

	<article class="generalfeatures">

		<ul class="listing">

			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			
  		</ul>


	</article>

	<br/>


<% include partials/footer %>