<% include partials/header %>


<!-----------Featured Products---------->
	<br />
	<article class="generalfeatures">

		<ul class="listing">

		<% delicacies.forEach((delicacy) => { %>
			<li>
  				<img src="<%= delicacy["image"] %>" alt="<%= delicacy["alt"] %>">
    			<h3><%= delicacy["name"] %></h3>
    			<h5><%= delicacy["price"] %></h5>
    			<div class="addtocart">
    				<a class="addtocartbutton" href="#">Add to cart</a>
    			</div>
  			</li>
		<% }); %>
		
  		</ul>


	</article>

	<br/>


<% include partials/footer %>