<% include partials/header %>

<!-----------Cover Image---------->
	<section class="generalfeatures">
		<img id="coverimage" src="/images/pexels1.jpeg" alt="Image of Burger Cheese">
	</section>
	
	
	<!-----------Featured Products---------->
	<h3 id="featureheading" class="generalfeatures">Features</h3>
	<article id="featurescontainer" class="generalfeatures">

		<div class="featuredproduct">
			<div class="eachfeatures">
				<img class="featureimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Chex-Mix-Pile.jpg/220px-Chex-Mix-Pile.jpg" alt="Chex Mix">
				<p class="featuredescription">Chex Mix</p>
				<hr />
				<div class="priceandcart">
					<span class="price">$10</span>
					<a href="#" class="addtocart">Add to cart</a>
				</div>
			</div>
		</div>

		<div class="featuredproduct">
			<div class="eachfeatures">
				<img class="featureimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Chex-Mix-Pile.jpg/220px-Chex-Mix-Pile.jpg" alt="Chex Mix">
				<p class="featuredescription">Chex Mix</p>
				<hr />
				<div class="priceandcart">
					<span class="price">$10</span>
					<a href="#" class="addtocart">Add to cart</a>
				</div>
			</div>
		</div>

		<div class="featuredproduct">
			<div class="eachfeatures">
				<img class="featureimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Chex-Mix-Pile.jpg/220px-Chex-Mix-Pile.jpg" alt="Chex Mix">
				<p class="featuredescription">Chex Mix</p>
				<hr />
				<div class="priceandcart">
					<span class="price">$10</span>
					<a href="#" class="addtocart">Add to cart</a>
				</div>
			</div>
		</div>

		<div class="featuredproduct">
			<div class="eachfeatures">
				<img class="featureimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Chex-Mix-Pile.jpg/220px-Chex-Mix-Pile.jpg" alt="Chex Mix">
				<p class="featuredescription">Chex Mix</p>
				<hr />
				<div class="priceandcart">
					<span class="price">$10</span>
					<a href="#" class="addtocart">Add to cart</a>
				</div>
			</div>
		</div>

	</article>
	<br/>
	<div id="featuresbutton">
		<a id="seemorefeatures" href="html/delicacies.html">See More</a>
	</div>
	
	<br/>
	<br/>

<% include partials/footer %>