<% include partials/header %>

<!-----------Cover Image---------->
	<section class="generalfeatures">
		<!-- <img id="coverimage" src="/images/pexels1.jpeg" alt="Image of Burger Cheese"> --->
		<div id="slider">
			<figure>
				<img src="/images/pexels1.jpeg" alt>
				<img src="/images/pexels2.jpeg" alt>
				<img src="/images/pizza.jpeg" alt>
				<img src="/images/pizza1.jpeg" alt>
				<img src="/images/hamburger-bacon.jpg" alt>
			</figure>
		</div>
	</section>
	
	<br />
	
	<!-----------Featured Products---------->
	<h3 id="featureheading" class="generalfeatures">Features</h3>

	<article class="generalfeatures">

		
		<ul class="listing">

			<li>
  				<img src="/images/burger-cheese1.jpg" alt="burger cheese">
    			<h3>Burger Cheese</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/coconut-candy.jpg" alt="coconut candy image">
    			<h3>Coconut Candy</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/fried-meat.jpeg" alt="fried meat image">
	    		<h3>Fried Meat</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			<li>
  				<img src="/images/creamy-sandwich.jpg" alt="sandwich image">
    			<h3>Sandwich</h3>
    			<h5>$10</h5>
    			<div class="addtocart"><a href="">Add to cart</a></div>
  			</li>

  			<li>
  				<img src="/images/shawarma.jpg" alt="Shawarma image">
	    		<h3>Shawarma</h3>
	    		<h5>$10</h5>
	    		<div class="addtocart"><a href="">Add to cart</a></div>
    			
  			</li>

  			
  		</ul>


	</article>
	<br/>
	<div id="featuresbutton">
		<a id="seemorefeatures" href="/delicacies">See More</a>
	</div>
	
	<br/>
	<br/>

<% include partials/footer %>