<% include partials/header %>

	<br />
<section class="signinformcontainer generalfeatures">
		<h4>LOGIN</h4>
		<form class="signinform" action="">
			<label signinformlabelone" for="Email">Email*</label>
			<input class="all" name="email" signinforminput" type="text">
			<label signinformlabeltwo" for="Password">Password*</label>
			<input id="loginpassword" name="password" class="all signinforminput" type="text">
			<input id="loginbutton" class="all" type="submit" value="Submit">
		</form>
	</section>

	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />


<% include partials/footer %>