<% include partials/header %>

<section class="generalfeatures">
		<div id="signup">
			<h1>Create a New Customer Account</h1>
			<hr />
			<form action="#">
				<input class="signupinput" type="text" placeholder="First Name">
				<input class="signupinput" type="text" placeholder="Last Name">
				<input class="signupinput" type="number" placeholder="Phone">
				<input class="signupinput" type="text" placeholder="Your Email">
				<input class="signupinput" type="text" placeholder="Re-enter Email">
				<input class="signupinput" type="password" placeholder="Password">
				<input class="signupinput" type="submit" placeholder="Submit">
			</form>
		</div>
	</section>
	
	<br />


<% include partials/footer %>